<!DOCTYPE HTML>
<head>
{% block head %}
	<title>Wikipedia Wordcloud Search</title>
	<meta name="viewport" content="width=1200, user-scalable=no">
	<link rel="stylesheet" href="/static/css/pure-min.css">
	<link rel="stylesheet" href="/static/css/style.css">	
{% endblock %}
</head>
<body>
	<div id="main">
		<div class="header">
			<h1>Wikipedia Wordcloud</h1>
			<h2>Create wordclouds from wikipedia articles.</h2>
			
			<div class="inputform">
				<form method="GET" action="/wordcloud" class="pure-form">		
					<fieldset>	
						<input type="text" name="query" placeholder="Query" size="62">
						<input type="submit" value="Search" class="pure-button pure-button-primary">

						</br>
						</br>

						<!-- Checkbox options -->						
						<label for="context_checkbox">
							<input type="checkbox" name="context" id="context_checkbox">
							Context
						</label>

						<label for="norm_checkbox">
							<input type="checkbox" name="norm" id="norm_checkbox">
							Normalise
						</label>	
						<br />		
						
						<div>
							<label for="dist">
								Adjacency distance:
								<input type="number" name="dist" min="1" max="200" value="10">
							</label>
						</div>
						<br />
						<div>
							<label for="numwords">
								Number of words:
								<input type="number" name="numwords" min="1" max="200" value="20">
							</label>
						</div>
					</fieldset>	
				</form>
			</div>
		</div>

		<div id="result">
		{% block results %}
		{% endblock %}
		</div>
	</div>
	


	{% block footer %}
	{% endblock %}
	<script type="text/javascript">
	// Populate form with url parameters
	var params = window.location.search.substring(1);
	params = params.split("&");

	for(p in params) {
		var param = params[p].split("=");
		var key = param[0];
		var val = param[1];
		var input = document.getElementsByName(key);
		if(input != null && input.length < 2 && input[0].nodeName == "INPUT") {
			if(input[0].type == "checkbox")
				input[0].checked = true;
			if(input[0].type == "text")
				input[0].value = decodeURIComponent(val.replace(/\+/g, " "));
			if(input[0].type == "number")
				input[0].value = val;
		}
	}

	</script>
</body>
